@font-face {
  font-family: 'Isamanru';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Isamanru', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  width: 100%;
}
